.title-text {
  font-size: 50px;
  text-align: center;
  color: rgb(233, 178, 0);
  font-weight: bold;
}

.about-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  max-width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: auto;
}

.about {
  font-size: 30px;
  background-color: #ffef20;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  overflow: scroll;
  padding: 0px 15px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.image {
  width: 100%;
  min-width: 250px;
  min-height: 268px;
  object-fit: cover;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.logo-image {
  background-color: white;
  width: 250px;
  height: 268px;
  object-fit: contain;
}

.image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffef20;
  max-width: 250px;
}

.full-about-flex {
  display: flex;
  margin: auto;
  border: 25px solid #e9b200;
  max-width: 750px;
  border-radius: 30px;
}

.selection-and-about {
  display: flex;
  flex-direction: column; 
}

.selection-tab {
  background-color: #ffef20;
  display: flex;
  justify-content: center;
}

.tab-button {
  background-color: #ffef20;
  padding: 20px 20px;
  border-radius: 30px;
  margin: 5px 5px;
  border: 6px solid #e9b200;
  font-size: 20px;
  cursor: pointer;
}

.tab-button:hover {
  opacity: 0.8;
}

.tab-button:active {
  opacity: 0.6;
}

.tab-button-selected {
  background-color: #e9b200;
}

.about-tab {
  display: flex;
}